<div class="container">

	<% for ( var i = 0; i < results.length; i++ ) { %>
	<div class="media">
  	<a class="pull-left" href="#">
    <img class="media-object smallimage" src="<%= results[i].poster %>" alt="...">
  </a>
  <div class="media-body overflow-visible">
  	<div class="pull-right btn-group">
    	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    		<span id="series<%= results[i].id %>status">Action</span> <span class="caret"></span>
 		</button>
  		<ul class="dropdown-menu" role="menu">
    		<li><a href="#" onClick="planToWatchSeries(<%= results[i].id %>)">Plan to Watch</a></li>
    		<li><a href="#" onClick="currentlyWatchingSeries(<%= results[i].id %>)">Currently Watching</a></li>
			<li><a href="#" onClick="completeSeries(<%= results[i].id %>)">Completed</a></li>
			<li><a href="#" onClick="dropSeries(<%= results[i].id %>)">Dropped</a></li>
  		</ul>
  	</div>
    <h4 class="media-heading"><a href="/series/view?series=<%= results[i].id %>"><%= results[i].SeriesName %></a></h4>
   	<%= results[i].Overview %>
   	</div>
  </div>
  <% } %>

</div>
