<div class="container">

	<% for ( var i = 0; i < results.length; i++ ) { %>
	<div class="media">
  	<a class="pull-left" href="#">
    <img class="media-object smallimage" src="/series/poster/<%= results[i].id %>" alt="...">
  </a>
  <div class="media-body overflow-visible">
	  <%
	  var status = getLibraryStatus(results[i].id); 
	  if (status != "Add to Library") { %>
  	<div class="pull-right btn-group">
    	<button type="button" class="btn btn-default disabled">
    		<span id="series<%= results[i].id %>status"><%= status %></span>
 		</button>
  	</div>
	<% } %>
    <h4 class="media-heading"><a href="/series/view?series=<%= results[i].id %>"><%= results[i].SeriesName %></a></h4>
   	<%= results[i].Overview %>
   	</div>
  </div>
  <% } %>

</div>
