<div id="imageholder" class="imageholder"></div>
<div class="container panel panel-default">
	<div class="col-md-3">
    	<img src="/series/poster/<%= series.id %>" class="series-big-image" alt="..."><br>
	</div>
	<div class="col-md-9">
		<h2 class="series-big-header"><%= series.SeriesName %></h2>	 
		
		<div class="pull-right">
			<div class="btn-group series-big-addbutton">
	  			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	  				<span id="series<%= series.id %>status"><%= watchingStatus %></span> <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
	  				<li><a href="#" onClick="planToWatchSeries(<%= series.id %>)">Plan to Watch</a></li>
	  				<li><a href="#" onClick="currentlyWatchingSeries(<%= series.id %>)">Currently Watching</a></li>
					<% if ( series.Status != "Continuing" ) { %>
					<li><a href="#" onClick="completeSeries(<%= series.id %>)">Completed</a></li>
					<% } %>
					<li><a href="#" onClick="dropSeries(<%= series.id %>)">Dropped</a></li>
				</ul>
			</div>
		</div>	
		<% if ( watchingStatus == "Currently Watching" ) { %>
			<div class="container-fluid">
				<div class="col-md-11">
					<div class="progress">
			  	  	  <div class="progress-bar" id="watchingProgressBar" completed-episodes="<%= completedEpisodes %>" total-episodes="<%= totalEpisodes %>" role="progressbar" style="width: <%= (completedEpisodes / totalEpisodes)*100 %>%;">
				  		  <%= completedEpisodes %>/<%= totalEpisodes %>
			  		  </div>
					</div>
				</div>
				<div class="col-md-1"><button id="completedEpisodeButton" series-id="<%= series.id %>" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></button></div>
			</div>
		<% } %>
		<div class="panel panel-default">
	  	 	<div class="panel-heading">
	    	  <h3 class="panel-title">Overview</h3>
	  		</div>
	 		<div class="panel-body">
	    		<%= series.Overview %>
	    	</div>
		</div>

		<div class="panel panel-default">
	  	 	<div class="panel-heading">
	    	  <h3 class="panel-title">Friends</h3>
	  		</div>
			
			<ul class="list-group">
			<% for ( friend in friends ) { %>	
				<li class="list-group-item">
					<a href="/user/<%= friends[friend].username %>"><%= friends[friend].username %></a>
					<span class="pull-right"><%= friends[friend].status %></span>
				</li>
			<% } %>
			</ul>
		</div>
	</div>
</div>

<script type="text/javascript">
$(window).ready(function()
{
	var img = new Image();
	img.src = "/series/fanart/<%= series.id %>";
	var options = {};
	

	img.onload = function()
	{
		Pixastic.process(img, "desaturate", options);
		options.resultCanvas
		$("body").css("background-repeat", "no-repeat");
		$("body").css("background-attachment", "fixed");
		$("body").css("background-size", "100%");
		$("body").css("background-position","center");
		$("body").css("background-image", "url('"+options.resultCanvas.toDataURL("image/png")+"')");
		$("body").css("background-color", "black");
	}
	
	
});
</script>