
<% var last_season = 0; %>
<div class="modal fade" id="selectLastViewed" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Select the last episode you watched:</h4>
      </div>
      <div class="modal-body">
		  <div class="panel panel-default">
			<% for ( var i = 0; i < series.episodes.length; i++ ) { %>
				<% if ( last_season != series.episodes[i].SeasonNumber ) { %>
					<% if ( last_season != 0 ) { %></div><% } %>
					<div class="panel-heading" data-toggle="collapse" data-target="#season<%= series.episodes[i].SeasonNumber %>"><h3 class="panel-title">Season <%= series.episodes[i].SeasonNumber %></h3></div>
					<div class="list-group collapse" id="season<%= series.episodes[i].SeasonNumber %>">
				<% } %>
					<a href="#" onClick="setProgress(<%= series.id %>, <%= i+1 %>)" data-dismiss="modal" class="list-group-item"><%= series.episodes[i].EpisodeName %></a>
				<% last_season = series.episodes[i].SeasonNumber %>
			<% } %>
			</div>
			</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div id="imageholder" class="imageholder"></div>
<div class="container panel panel-default">
	
	<div class="col-md-3">
    	<img src="/series/poster/<%= series.id %>" class="series-big-image" alt="..."><br>
	</div>
	<div class="col-md-9">
		<h2 class="series-big-header"><%= series.SeriesName %></h2>	 
		
		<div class="pull-right">
			<div class="btn-group series-big-addbutton">
	  			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	  				<span id="series<%= series.id %>status"><%= watchingStatus %></span> <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
	  				<li><a href="#" onClick="planToWatchSeries(<%= series.id %>)">Plan to Watch</a></li>
	  				<li><a href="#" data-toggle="modal" data-target="#selectLastViewed">Currently Watching</a></li>
  					<% if ( series.Status != "Continuing" ) { %>
  					<li><a href="#" onClick="completeSeries(<%= series.id %>)">Completed</a></li>
  					<% } %>
  					<li><a href="#" onClick="dropSeries(<%= series.id %>)">Dropped</a></li>
				</ul>
			</div>
		</div>	
			<div id="progressBarContainer" class="container-fluid <% if ( watchingStatus != "Currently Watching" ) { %>hide<% } %>">
				<div class="col-md-11">
					<div class="progress">
			  	  	  <div class="progress-bar" id="watchingProgressBar" completed-episodes="<%= completedEpisodes %>" total-episodes="<%= totalEpisodes %>" role="progressbar" style="width: <%= (completedEpisodes / totalEpisodes)*100 %>%;">
				  		  <%= completedEpisodes %>/<%= totalEpisodes %>
			  		  </div>
					</div>
				</div>
				<div class="col-md-1"><button id="completedEpisodeButton" series-id="<%= series.id %>" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></button></div>
			</div>

      <% if ( watchingStatus == "Currently Watching" ) { %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Last Watched: <strong><%= series.episodes[completedEpisodes-1].EpisodeName %></strong></h3>
        </div>
        <div class="panel-body">
          <%= series.episodes[completedEpisodes-1].Overview %>
        </div>
      </div>
      <% } %>
      
		<div class="panel panel-default">
	  	 	<div class="panel-heading">
	    	  <h3 class="panel-title">Overview</h3>
	  		</div>
        <div class="panel-body">
	    		<%= series.Overview %>
	    	</div>
		</div>

    <div class="panel panel-default">
      <div class="panel-heading">
       
        <a href="/review/series/<%= series.id %>"><h3 class="panel-title">Reviews</h3></a>
        
      </div>
      <div class="list-group">
        <% _.each(reviews, function(r) { %>
          <a href="/review/view/<%= r.id %>" class="list-group-item">
            <h4 class="list-group-item-heading"><%= r.title %></h4>
            <p class="list-group-item-text"><%= _.first(r.body.split(" "), 50).join(" ") %></p>
          </a>
        <% }); %>
        <a href="/review/new/<%= series.id %>" class="list-group-item">
          <h4 class="list-group-item-heading btn btn-default">Write a review</h4>
          <p class="list-group-item-text"></p>
        </a>
        
      </div>
    </div>


		<% if ( friends.length != 0 ) { %>
		<div class="panel panel-default">
	  	 	<div class="panel-heading">
	    	  <h3 class="panel-title">Friends</h3>
	  		</div>
			
			<ul class="list-group">
			<% for ( friend in friends ) { %>	
				<li class="list-group-item">
					<a href="/user/<%= friends[friend].username %>"><%= friends[friend].username %></a>
					<span class="pull-right"><%= friends[friend].status %></span>
				</li>
			<% } %>
			</ul>
		</div>
		<% } %>
	</div>
</div>


<script type="text/javascript">
$(window).ready(function()
{
	$("body").css("background-color", "black");
	var img = new Image();
	img.src = "/series/fanart/<%= series.id %>";
	var options = {};
	

	img.onload = function()
	{
		Pixastic.process(img, "desaturate", options, function()
		{
			$("body").css("background-repeat", "no-repeat");
			$("body").css("background-attachment", "fixed");
			$("body").css("background-size", "cover");
			$("body").css("background-position","center");
			$("body").css("background-image", "url('"+options.resultCanvas.toDataURL("image/png")+"')");
			$("body").css("background-color", "black");
		});
	}
	
	
});
</script>