<div class="container">
	<h3>What your friends are watching:</h3>

	<% for ( var i = 0; i < friends.length; i++ ) { %>
	<div class="media">
  	<a class="pull-left" href="#">
    <img class="media-object smallimage" src="/series/poster/<%= friends[i].series.id %>" alt="...">
  </a>
  <div class="media-body overflow-visible">
    <h4 class="media-heading">
		<a href="/user/<%= friends[i].username %>"><%= friends[i].username %></a>
		<% if ( friends[i].status == "Currently Watching") { %> watched an episode of <% }
		else {  %><%= friends[i].status %> <% } %>
		<a href="/series/view?series=<%= friends[i].series.id %>"><%= friends[i].series.SeriesName %></a></h4>
   	<%= friends[i].series.Overview %>
   	</div>
  </div>
  <% } %>

</div>
